* {
    margin: 0px;
    padding: 0px;
}

.nav-container {
    display: flex;
    background-color: gray;
    padding: 10px;
    justify-content: space-around;
    align-items: center;

}

.menus {
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 17px;
    font-style: italic;
    color:white;
}

.banner-container {
    height: 100vh;
    background-image: url("asset/image/background.jpg"), linear-gradient(rgba(40, 40, 40, 0.6), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display:flex;
    align-items: center;
}
.primary{
    color:red;
}
.title{
    font-size: 55px;
    font-weight:bold;
    color:white;
}
.banner-description{
    color:white;
    padding:10px;
    width:50%;
    margin:auto;
}
.btn{
    padding: 12px 20px;
    border:none;

}
.bg-primary{
    background-color: red;
    color:white;
}